<div>
      <h1 id="main-title">
        <span>
            <span>Adrian </span><span style="color:var(--accent)">Beng</span>
        </span>
      </h1>
      <h3 style="margin: 0px 0 25px">Full Stack Developer</h3>
      <p style="max-width:600px">
        I build dedicated WooCommerce & Shopify e-commerce solutions. With a fast, scalable, and conversion-focused methodology. My focus is on building solutions that are not only functional but also optimized for performance and conversion.
      </p>
    </div>

    <style>
        h1{
            margin-top: 0;
            font-size:3rem;
            margin-bottom: 0;
        }
        p{
            max-width: 600px;
            margin-bottom: auto;
        }
    </style>