<div>
      <h1 id="main-title">
        <span>
            <span>Adrian </span><span style="color:var(--accent)">Beng</span>
        </span>
      </h1>
      <h3 style="margin: 0px 0 25px">Full Stack Developer</h3>
      <p style="max-width:600px">Full-stack e-commerce developer specializing in WooCommerce and Shopify. I transform business requirements into high-performance, conversion-optimized solutions that scale with your growth.</p>
    </div>

    <style>
        h1{
            margin-top: 0;
            font-size:3rem;
            margin-bottom: 0;
        }
        p{
            max-width: 600px;
            margin-bottom: auto;
        }
    </style>