<ul class="socials">
      <li><a target="_blank" href="https://github.com/devadrianbeng"><i class="fa-brands fa-github"></i></a></li>
      <li><a target="_blank" href="https://www.linkedin.com/in/adrianbeng/"><i class="fa-brands fa-linkedin"></i></a></li>
      <li><a target="_blank" href="https://www.instagram.com/adrian.beng/"><i class="fa-brands fa-instagram"></i></a></li>
      <li><a target="_blank" href="https://x.com/devadrianbeng"><i class="fa-brands fa-x-twitter"></i></a></li>
    </ul>

    <style>
        .socials{
            list-style: none;
            padding: 0;
            display: flex;
            gap: 1.5rem;
        }
        .socials a{
            font-size: 2rem;
            color: var(--light);
            opacity: 0.65;
            transition: all 0.3s ease;
        }
        .socials a:hover{
            color: var(--light);
            opacity: 0.9;
        }

        @media (max-width: 991px) {
            .socials {
                gap: 1rem;
                justify-content: center;
                margin: 2rem 0 -0.5rem;
            }
            .socials a {
                font-size: 1.75rem;
            }
        }
    </style>