/* :root {
  --bg: #0f172a;
  --fg: #e5e7eb;
  --accent: #38bdf8;
} */

/* :root {
  --bg: rgba(207, 199, 210);
  --fg: rgba(10, 9, 8);
  --accent: rgba(111, 124, 18);
} */

/* :root {
  --bg: rgba(254, 239, 221);
  --fg: rgba(32, 30, 31);
  --accent: rgba(255, 64, 0);
} */

:root {
  --bg: rgba(4, 15, 22);
  --fg: rgba(235, 242, 250);
  --accent: rgba(255, 208, 70);
}





* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: var(--bg);
  color: var(--fg);
}

a {
  color: var(--accent);
  text-decoration: none;
}

section {
  padding: 4rem 6rem;
  max-width: initial;
  margin: auto;
}
