---
const currentYear = new Date().getFullYear();

console.log(currentYear);
---

<footer style="margin-top: auto;">
  <p><small>Built with Node.js & Astro — © {currentYear} Adrian Bengoechea</small></p>
</footer>
<style>
  p{
    margin-top: 1.2rem;
  }
  </style>