---
import BaseLayout from "../layouts/BaseLayout.astro";
import IntroAnimation from "../components/IntroAnimation.astro";
import MainFlow from "../components/MainFlow.astro";
import FloatingShapes from "../components/FloatingShapes.astro";
---

<BaseLayout>
  <IntroAnimation />
  <FloatingShapes />
  <main>
    <MainFlow />
  </main>
</BaseLayout>

