---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import FloatingShapes from "../components/FloatingShapes.astro";
---

<BaseLayout>
  <Header />
  <FloatingShapes />
  <main>
    <Hero />
    <About />
    <Projects />
    <Contact />
  </main>
</BaseLayout>

