---
import Hero from './content/Hero.astro';
import Intro from './content/Intro.astro';
import About from './content/About.astro';
import Experience from './content/Experience.astro';
import Projects from './content/Projects.astro';
import Contact from './content/Contact.astro';
import Footer from './content/Footer.astro';
---

<div class="wrapper">
  <Hero />
  <About />
  <Experience />
  <Projects />
  <Contact />
  <Footer />
</div>

<style>
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 7.25rem 2rem;
    max-width: 1300px;
    margin: 0 auto;
    width: 52%;
  }

  @media (max-width: 991px) {
    .wrapper {
      width: 100%;
      padding: 0;
    }
  }
  
</style>